*{
    font-size: 1.2rem;
}

.title{
    display: grid; 
    align-items: center;
    vertical-align: auto;
    justify-content: space-evenly;
    text-align: center;
}
.Tetrad{
    display: flex;
    justify-content: space-around;
}

.Figures{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.InfoColumn{
    display: grid;
    align-items: center;
    vertical-align: auto;
    justify-content: space-evenly;
    text-align: center;
    width: 25%;
}

.images{
    display: inline;
    border: 5px solid #555;
}
.images img{
    width: 500px;
    height: 280px;
}
#fig2{
    width: 500px;
}